{% for post in posts %}
    <div class="card swiper-slide">
        <a href="/object/{{ post.slug }}" class="card__header">
            <img src="{{ post.preview.thumb(360, 240, {'mode': 'crop'}) }}" alt="" class="card__img">
        </a>
        <div class="card__content">
            <h3 class="card__title">
                <a href="/post/{{ apartment.slug }}">{{ str_limit(html_strip(post.title), 40) }}</a>
            </h3>
            <p class="card__text">{{ str_limit(html_strip(post.text), 200) }}</p>
        </div>
        <div class="card__footer">
            <span class="card__text">Цена:</span>
            <span class="card__price">{{ apartment.current_price }} ₽</span>
        </div>
    </div>
{% endfor %}