<div class="about">
    <div class="container">
        <div class="about__body">
            <div class="about__thumb">
                <img src="{{ 'assets/images/house.webp'|theme }}" alt="about image" class="about__image">
            </div>
            <div class="about__thumb">
                <h2 class="about__title">О компании</h2>
                <p class="about__text">Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Семь собрал запятых несколько маленькая необходимыми обеспечивает текстами даже подпоясал, пунктуация она? Пор свой на берегу семантика безорфографичный, щеке собрал журчит встретил силуэт переписывается выйти большого за текстов своего его инициал жизни. Подпоясал проектах решила рукопись знаках города буквенных живет, использовало раз. Предложения она они сих курсивных ему буквенных имени страну там до, это строчка большой правилами?</p>
                {% if this.page.id == 'home' %}
                    <a href="/about" class="about__link">Узнать больше</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>