<div class="contact">
    <div class="container">
        <div class="contact__body">
            <div class="contact__thumb">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152976.55653714584!2d44.89053747016202!3d53.195276548875235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41410062a40af0d1%3A0xbaed6ceca1cba901!2z0J_QtdC90LfQsCwg0J_QtdC90LfQtdC90YHQutCw0Y8g0L7QsdC7Lg!5e0!3m2!1sru!2sru!4v1620303195598!5m2!1sru!2sru" 
                    width="100%" 
                    height="450" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
            </div>
            <div class="contact__thumb">
                <h2 class="contact__title">Контакты</h2>
                <ul class="contact__list">
                    <li class="contact__list-item icon-location">г. Пенза, ул. Строителей, 5</li>
                    <li class="contact__list-item icon-mail">
                        <a href="mailto:example@domain.com" class="contact__list-link">example@domain.com</a>
                    </li>
                    <li class="contact__list-item icon-phone">
                        <a href="tel:89990007878" class="contact__list-link">89990007878</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>