<footer class="footer">
    <div class="footer__container container">
        <div class="footer__item">
            <nav class="social">
                <ul class="social__list">
                    <li class="social__item">
                        <a href="https://www.facebook.com/" class="social__link icon-facebook" target="_blank"></a>
                    </li>
                    <li class="social__item">
                        <a href="https://vk.com/" class="social__link icon-vk" target="_blank"></a>
                    </li>
                    <li class="social__item">
                        <a href="https://youtube.com/" class="social__link icon-youtube" target="_blank"></a>
                    </li>
                    <li class="social__item">
                        <a href="https://instagram.com/" class="social__link icon-insta" target="_blank"></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__item">
            <span class="footer__copyright">Данный сайт является учебным проектом и не несет никакой коммерческой выгоды. Все материалы скопированы с других ресурсов и не являются достоверными © 2021</span>
        </div>
        
        <div class="footer__item">
            <button class="footer__btn">Позвонить нам</button>
        </div>
    </div>
</footer>