.breadcrumbs {
    width: 100%;

    background         : linear-gradient(to top, rgba(darken(@darkblue, 10%), 0.9), rgba(darken(@darkblue, 20%), 0.9)), url(../images/breadcrumbs.jpg);
    background-size    : cover;
    background-position: center bottom;

    &__container {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        height         : 100%;
        padding-top    : 18rem;
        padding-bottom : 3rem;

        @media(max-width: @tablet-bp) {
            padding-top: 25rem;
        }

        @media(max-width: @reverse-bp) {
            padding-top: 13.5rem;
        }
    }

    &__list {
        display  : flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 1rem;

        list-style: none;

        color      : @lightgrey;
        font-size  : 1.2rem;
        line-height: 1.5;
        font-weight: 500;
    }

    &__link {
        transition: color 0.3s;

        &:hover {
            color: @orange;
        }
    }
}