.cardlist {
    padding: 4rem 0;

    background-color: @lightgrey;

    @media(max-width: @mobile-bp) {
        padding: 3rem 0;
    }

    &__container {
        overflow: hidden;
    }

    &__header {
        display      : flex;
        align-items  : center;
        margin-bottom: 3rem;
        padding-bottom: 2rem;

        border-bottom: 1px solid rgba(@darkblue, 0.2);

        @media(max-width: @mobile-bp) {
            flex-direction: column;
        }
    }

    &__row {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        @media(max-width: @mobile-bp) {
            width: 100%;
        }
    }

    &__title {
        margin-right: auto;

        color      : @darkblue;
        font-weight: 500;
        font-size  : 3.2rem;

        @media(max-width: @mobile-bp) {
            margin-bottom: 1rem;

            font-size: 2.8rem;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-right: 5rem;

        font-size: 1.4rem;
        font-weight: 500;
        color: @darkgrey;

        transition: transform 0.3s;

        &:hover {
            transform: translateX(1rem);
        }

        &::after {
            margin-left: 0.5rem;
        }
    }

    &__list {
        display              : grid;
        grid-gap             : 5rem;
        grid-template-columns: 1fr 1fr 1fr;

        &--space-bottom {
            margin-bottom: 3rem;
        }

        @media(max-width: @tablet-bp) {
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: @reverse-bp) {
            grid-gap: 2.5rem;
        }

        @media(max-width: @mobile-bp) {
            grid-template-columns: 1fr;
            grid-gap             : 5rem;
        }
    }
}