<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агенство недвижимости "ACTIV"</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
</head>
<body>

    {% include '../twig-partials/header.html' %}

    {% include '../twig-partials/navigation.html' %}

    <div class="catalog">
        <div class="catalog__container container">
            <h2 class="catalog-title">Каталог недвижимости</h2>
            <div class="catalog-box">
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/1.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Ульяновская ул., 64 г. Пенза</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">1 300 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/2.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Олимпийская ул., 14 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">2 700 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/3.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Фонтанная ул., 11 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">3 600 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/1.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Ульяновская ул., 64 г. Пенза</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">1 300 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/2.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Олимпийская ул., 14 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">2 700 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/3.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Фонтанная ул., 11 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">3 600 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/1.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Ульяновская ул., 64 г. Пенза</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">1 300 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/2.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Олимпийская ул., 14 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">2 700 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
                <a href="objects.html" class="catalog-card">
                    <img src="../img/objects/3.jpg" alt="">
                    <div class="card-box">
                        <p class="card-title">Фонтанная ул., 11 Засечное с.</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">41.92</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">3</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">59.30</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">Панельный</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">4</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">5</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">3 600 000 <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="center">
                <div class="pagination">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    {% include '../twig-partials/footer.html' %}

    {% include '../twig-partials/popup.html' %}
    
    <script src="https://kit.fontawesome.com/2689382108.js" crossorigin="anonymous"></script>
    <script src="catalog.js"></script>
</body>
</html>