<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агенство недвижимости "ACTIV"</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>

    <!-- start section header -->
 <header class="header">
    <div class="header__container container">
        <a href="index.html" class="logo image">
            <img src="img/activ_logo.png" alt="logotip" class="logo__image">
        </a>
        <div class="col col--1">
            <a href="tel:645070" class="header__link link">
                <i class="fab fa-viber"></i>
                <span>8(8412) 64-50-70</span>
            </a>
            <a href="tel:79875173070" class="header__link link">
                <i class="fas fa-mobile-alt"></i>
                <span>+7 (987) 517-30-70</span>
            </a>
        </div>
        <div class="col col--2">
            <a href="#" class="header__link link">
                <i class="fas fa-map-marker-alt"></i>
                <span>г. Пенза, ул. Дзержинского, 4 офис 410</span>
            </a>
            <a href="mailto:222942@bk.ru" class="header__link link">
                <i class="far fa-envelope-open"></i>
                <span>222942@bk.ru</span>
            </a>
        </div>
        <button class="btn" id="btn">ЗАКАЗАТЬ ЗВОНОК</button>
        <nav class="header__nav nav nav--social">
            <a href="https://vk.com/amanora_rielt" class="nav__item link" target="_blank">
                <i class="fab fa-vk"></i>
            </a>
            <a href="https://www.instagram.com/AmanoraPenza/" class="nav__item link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://ok.ru/profile/481540018867" class="nav__item link" target="_blank">
                <i class="fab fa-odnoklassniki-square"></i>
            </a>
            <a href="https://t.me/AmanoraPenza" class="nav__item link" target="_blank">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=%2B79875173837&text&app_absent=0" class="nav__item link" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </nav>
    </div>
</header>
<!-- stop section header -->

    {% include '../twig-partials/navigation.html' %}

    <div class="object">
        <div class="object__container container">
            <h1 class="object-title">Ульяновская ул., 64 г. Пенза</h1>
            <div class="object-box">
                <div class="swiper">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/objects/ylyanovskaya/1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/objects/ylyanovskaya/2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/objects/ylyanovskaya/3.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/objects/ylyanovskaya/4.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/objects/ylyanovskaya/5.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="img/objects/ylyanovskaya/1.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="img/objects/ylyanovskaya/2.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="img/objects/ylyanovskaya/3.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="img/objects/ylyanovskaya/4.jpg" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="img/objects/ylyanovskaya/5.jpg" alt="">
                          </div>
                        </div>
                      </div>
                </div>
                <div class="object-info">
                    <div class="object-table">
                        <p class="object-price">5 500 000 <i class="fas fa-ruble-sign"></i></p>
                        <div class="object-table__row">
                            <p>Этаж:</p>
                            <h2>3</h2>
                        </div>
                        <div class="object-table__row">
                            <p>Тип дома:</p>
                            <h2>Кирпичный</h2>
                        </div>
                        <div class="object-table__row">
                            <p>Количество комнат:</p>
                            <h2>1</h2>
                        </div>
                        <div class="object-table__row">
                            <p>Жилая площадь кв.м.:</p>
                            <h2>12</h2>
                        </div>
                        <div class="object-table__row">
                            <p>Этажей в доме:</p>
                            <h2>16</h2>
                        </div>
                        <div class="object-table__row">
                            <p>Общая площадь, кв.м.:</p>
                            <h2>36.00</h2>
                        </div>        
                    </div>
                    <div class="object-button">
                        <button class="btn">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>   
            </div>
            <div class="object-text">
            <p>Продается видовая квартира-студия в новом кирпичном доме!</p>
            <br>
            <p>Площадь квартиры 30,37 кв.м.
                Жилая 17,2 кв.м.
                Кухня 5.01 кв.м.
                Балкон 2,73 кв.м.
                Санузел 3,60 кв.м.
            </p>
            <br>
            <p>В квартире будет: металлическая входная дверь, плитка у входа, межкомнатные двери, плитка современного образца в санузле + раковина и ванна с качественной сантехникой, в комнате ламинат 33 класса, натяжные потолки, светлые обои.
            </p>
            <br>
            <p>С 16 этажа открывается шикарный вид на запад. Большие панорамные окна наполнят вашу квартиру светом и теплом!</p>
            <br>
            <p>Дом очень теплый, так как кирпич кладкой в 51 сантиметр + фасад дома утеплен и отделан декоративной штукатуркой.
                Вход в дом с уровня земли - это очень удобно для его жителей, легко можно завести коляску и велосипед. В холле дома есть зона отдыха и ожидания, колясочная и санузел. Два лифта: грузовой и пассажирский.</p>
            <br>
            <p>Очень уютный и обжитой район с современной динамично развивающейся инфраструктурой!</p>
            <br>
            <p>Все в шаговой доступности: магазины, аптеки, салоны красоты, развивашки, детский сад, школа.</p>
            <br>
            <p>Возможен торг.</p>
            <br>
            <p>ПОМОЩЬ В ОФОРМЛЕНИИ ИПОТЕКИ ВО ВСЕХ БАНКАХ ПЕНЗЫ.</p>
            <br>
            <p>ОФОРМЛЕНИЕ ИПОТЕКИ БЕЗ ПЕРВОНАЧАЛЬНОГО ВЗНОСА.</p>
            <br>
            <p>Для получения более подробной информации по данному объекту - ПРОСТО ПОЗВОНИТЕ!</p>
            </div>
        </div>
    </div>   

    {% include '../twig-partials/footer.html' %}

    {% include '../twig-partials/popup.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2689382108.js" crossorigin="anonymous"></script>
    <script src="objects.js"></script>
</body>
</html>