<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агенство недвижимости "ACTIV"</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
</head>
<body>

    {% include '../twig-partials/header.html' %}

    {% include '../twig-partials/navigation.html' %}
    
    <div class="page-contact">
        <div class="page-contact__container container">
            <h2 class="page-contact__title">Контакты</h2>
            <div class="page-contact__box">
                <div class="page-contact__item">
                        <p class="logo-contact"><i class="fas fa-map-marker-alt"></i> Адрес: г.Пенза, ул.Дзержинского, 4 офис 410</p>
                        <a href="tel:79875173070" class="number-contact"><i class="fas fa-mobile-alt"></i> Телефон: +7 (987) 517-30-70</a>
                        <p class="mail-contact"><i class="far fa-envelope-open"></i> E-mail: 222942@bk.ru</p>
                </div>
                <div class="page-contact__item">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A56423d45033c5a86934d3d0bcff5942da1605570aa6e1d42e85029e458eb84c3&amp;source=constructor" width="650" height="490" frameborder="0" class="contact-map"></iframe>
                </div>
            </div>
        </div>
    </div>


    {% include '../twig-partials/footer.html' %}

    {% include '../twig-partials/popup.html' %}
    
    <script src="https://kit.fontawesome.com/2689382108.js" crossorigin="anonymous"></script>
    <script src="contacts.js"></script>
</body>
</html>