.object {
    padding: 50px 0 100px 0;
}

.object-title {
    color: #666666;
    font-size: 48px;
    font-weight: 100;
    border-bottom: 1px solid #d9d9d9;
}

.swiper {
    width: 750px;
}

.swiper-slide img {
    object-fit: cover;
}

.object-box {
    display: flex;
    justify-content: space-between;
}

.object-info {
    padding-top: 50px;
}

.object-table {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.object-price {
    font-size: 40px;
    color: #FF8C42;
}

.object-table__row {
    color: #666666;
    padding-top: 20px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
}

.object-table__row h2 {
    font-size: 18px;
    padding-bottom: 10px;
}
.object-price .fa-ruble-sign {
    font-size: 36px;
}

.object-button {
    padding-top: 50px;
    text-align: center;
}

.object-button .btn {
    width: 100%;
    padding: 15px 0 15px 0;
    font-size: 16px;
    background-color: #FF8C42;
    border: 1px solid #FF8C42;
}

.object-text {
    padding-top: 70px;
    width: 750px;
    color: #666666;
}

.object-button .btn:hover {
    background-color: #fff;
}

@media (max-width:575.98px) {
    .swiper {
        width: 100%;
    }

    .object-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .object-info {
        width: 100%;
      }
  
      .object-table {
          min-width: 100%;
      }

      .object-text {
        width: 100%;
        align-items: center;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .object-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .swiper {
        width: 100%;
    }

    .object-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .object-info {
        width: 100%;
      }
  
      .object-table {
          min-width: 100%;
      }

      .object-text {
        width: 100%;
        align-items: center;
    }

}

@media (min-width:768px) and (max-width:991.98px) {
    
    .swiper {
        width: 100%;
    }


    .object-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .object-info {
        width: 100%;
      }
  
      .object-table {
          min-width: 100%;
      }

      .object-text {
        width: 100%;
        align-items: center;
    }

}

@media (min-width:991.98px) and (max-width:1199px) {

    .object-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .object-info {
      width: 100%;
    }

    .object-table {
        min-width: 100%;
    }

    .object-text {
        width: 100%;
        align-items: center;
    }
}

