<section>
    <div class="catalog">
        {% for apartment in apartments %}
            <article class="catalog-apartment">
                <div class="catalog-apartment-preview">
                    <a href="catalog/{{ apartment.slug }}">
                        <img src="{{ apartment.preview.thumb(360, 360, {'mode': 'crop'}) }}" alt="">
                    </a>
                </div>
                <h3>
                    <a href="catalog/{{ apartment.slug }}">{{ apartment.title }}</a>
                </h3>
                <span>{{ apartment.current_price }} руб.</span>
            </article>
        {% endfor %}
    </div>
    
    {% if apartments.lastPage > 1 %}
        <div class="pagination">
            <ul class="pagination-list">
                {% if apartments.currentPage > 1 %}
                    <li class="pagination-item">
                        <button type="button" class="pagination-btn" data-page="{{ apartments.currentPage - 1 }}">
                            пред.
                        </button>
                    </li>
                {% endif %}
                {% for i in 1..apartments.lastPage %}
                    <li class="pagination-item">
                        <button 
                            type="button"
                            class="pagination-btn {% if i == apartments.currentPage %}active{% endif %}"
                            data-page="{{ i }}">
                            {{ i }}
                        </button>
                    </li>
                {% endfor %}
                {% if apartments.currentPage < apartments.lastPage %}
                    <li class="pagination-item">
                        <button type="button" class="pagination-btn" data-page="{{ apartments.currentPage + 1 }}">
                            след.
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</section>