<section class="form-section">
    <form class="form" action="send-mail" method="POST">
        <input class="form-control" type="text" name="name" placeholder="Ваше имя и фамилия*">
        <input class="form-control" type="text" name="phone" placeholder="Ваше номер телефона*">
        <textarea class="form-control" type="text" name="comment" placeholder="Ваше сообщение"></textarea>
        <label class="form-label" for="formCheckbox">
            <input type="checkbox" name="agree" id="formCheckbox">
            <span>я согласен с ...</span>
        </label>
        <button class="form-button" type="submit">Отпраить сообщение</button>
    </form>
</section>