<header>
    <nav>
        <ul>
            <li class="{% if this.page.id == 'home' %}active{% endif %}">
                <a href="/">Главная</a>
            </li>
            <li class="{% if this.page.id == 'catalog' %}active{% endif %}">
                <a href="/catalog">Каталог</a>
            </li>
            <li class="{% if this.page.id == 'news' %}active{% endif %}">
                <a href="/news">Новости</a>
            </li>
            <li class="{% if this.page.id == '404' %}active{% endif %}">
                <a href="/404">Ошибка</a>
            </li>
            <li class="{% if this.page.id == 'policy' %}active{% endif %}">
                <a href="/policy">Политика</a>
            </li>
        </ul>
    </nav>
</header>