<div class="infobar">
    <div class="infobar__container container">
        <div class="logo">
            <a href="/" class="logo__link">Active</a>
        </div>
        <ul class="infobar__cardlist">
            <li class="infobar__cardlist-item">
                <span class="infobar__cardlist-title">Наш адрес</span>
                <span class="infobar__cardlist-text">г. Пенза, ул. Строителей, 5</span>
            </li>
            <li class="infobar__cardlist-item">
                <span class="infobar__cardlist-title">Email</span>
                <a href="mailto:info@activ.ru" class="infobar__cardlist-link">info@activ.ru</a>
            </li>
            <li class="infobar__cardlist-item">
                <span class="infobar__cardlist-title">Режим работы</span>
                <span class="infobar__cardlist-text">Пн. - Сб. 08.00-18.00</span>
            </li>
        </ul>
    </div>
</div>