<section>
    <div class="catalog">
        {% for post in posts %}
            <article class="catalog-apartment">
                <div class="catalog-apartment-preview">
                    <a href="news/{{ post.slug }}">
                        <img src="{{ post.preview.thumb(360, 360, {'mode': 'crop'}) }}" alt="">
                    </a>
                </div>
                <h3>
                    <a href="news/{{ post.slug }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.text|raw }}</p>
                <span>{{ post.created_at|date('d.m.Y') }}</span>
            </article>
        {% endfor %}
    </div>
    
    {% if posts.lastPage > 1 %}
        <div class="pagination">
            <ul class="pagination-list">
                {% if posts.currentPage > 1 %}
                    <li class="pagination-item">
                        <button type="button" class="pagination-btn" data-page="{{ posts.currentPage - 1 }}">
                            пред.
                        </button>
                    </li>
                {% endif %}
                {% for i in 1..posts.lastPage %}
                    <li class="pagination-item">
                        <button 
                            type="button"
                            class="pagination-btn {% if i == posts.currentPage %}active{% endif %}"
                            data-page="{{ i }}">
                            {{ i }}
                        </button>
                    </li>
                {% endfor %}
                {% if posts.currentPage < posts.lastPage %}
                    <li class="pagination-item">
                        <button type="button" class="pagination-btn" data-page="{{ posts.currentPage + 1 }}">
                            след.
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</section>