{% if apartment.is_active %}

    <div class="apartment">
        <div class="apartment__container container">
            <div class="apartment__slider">

                <div class="swiper-container _apartment">
                    <div class="swiper-wrapper">

                        {% for image in apartment.gallery %}
                            <div class="swiper-slide">
                                <img src="{{ image.thumb(360, 240, { 'mode': 'crop' }) }}" alt="" class="apartment__img">
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="swiper-container _thumbs">
                    <div class="swiper-wrapper">

                        {% for image in apartment.gallery %}
                            <div class="swiper-slide swiper-slide-thumb">
                                <img src="{{ image.thumb(100, 80, { 'mode': 'crop' }) }}" alt="" class="apartment__img">
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
            <div class="apartment__body">
                <div class="apartment__header">
                    <div class="apartment__location">{{ apartment.city.title }}, {{ apartment.country.title }}</div>
                    <h1 class="apartment__title">{{ apartment.title }}</h1>
                    <div class="apartment__date">Опубликовано: {{ apartment.created_at|date('F j, Y') }} года</div>
                </div>
                <div class="apartment__content">
                    <ul class="proplist proplist--two-column">
                        <li class="proplist__item">
                            <span class="proplist__key icon-floor">Этаж:</span>
                            <span class="proplist__value">{{ apartment.floor }}</span>
                        </li>
                        <li class="proplist__item">
                            <span class="proplist__key icon-room">Комнат:</span>
                            <span class="proplist__value">{{ apartment.num_rooms }}</span>
                        </li>
                        <li class="proplist__item">
                            <span class="proplist__key icon-square">Общая пл.:</span>
                            <span class="proplist__value">{{ apartment.total_area }} кв.м</span>
                        </li>
                        <li class="proplist__item">
                            <span class="proplist__key icon-floor">Этажей в доме:</span>
                            <span class="proplist__value">{{ apartment.build_floors }}</span>
                        </li>
                        <li class="proplist__item">
                            <span class="proplist__key icon-room">Жилая пл.:</span>
                            <span class="proplist__value">{{ apartment.living_area }} кв.м</span>
                        </li>
                        <li class="proplist__item">
                            <span class="proplist__key icon-square">Тип дома:</span>
                            <span class="proplist__value">{{ apartment.typebuild.title }}</span>
                        </li>
                    </ul>
                </div>
                <div class="apartment__footer">
                    <div class="apartment__price">
                        <div class="apartment__price-key">Цена</div>
                        <div class="apartment__price-value">{{ apartment.current_price|number_format(0, '', ' ') }} ₽</div>
                    </div>
                    <button class="apartment__btn">Позвонить</button>
                </div>
            </div>
        </div>
    </div>

{% else %}
записи не найдено
{% endif %}



<!-- <div class="object">
    <div class="object__container container">
        <h1 class="object-title">{{ apartment.title }}</h1>
        <div class="object-box">
            <div class="swiper">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ apartment.preview.thumb(360, 360, { 'mode': 'crop' }) }}" alt="">
                        </div>
                        {% for image in apartment.gallery %}
                            <div class="swiper-slide">
                                <img src="{{ image.thumb(360, 360, { 'mode': 'crop' }) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ apartment.preview.thumb(100, 100, { 'mode': 'crop' }) }}" alt="">
                        </div>
                        {% for image in apartment.gallery %}
                            <div class="swiper-slide">
                                <img src="{{ image.thumb(100, 100, { 'mode': 'crop' }) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="object-info">
                <div class="object-table">
                    <p class="object-price">{{ apartment.current_price }} <i class="fas fa-ruble-sign"></i></p>
                    <div class="object-table__row">
                        <p>Этаж:</p>
                        <h2>{{ apartment.floor }}</h2>
                    </div>
                    <div class="object-table__row">
                        <p>Тип дома:</p>
                        <h2>{{ apartment.typebuild.title }}</h2>
                    </div>
                    <div class="object-table__row">
                        <p>Количество комнат:</p>
                        <h2>{{ apartment.num_rooms }}</h2>
                    </div>
                    <div class="object-table__row">
                        <p>Жилая площадь кв.м.:</p>
                        <h2>{{ apartment.living_area }}</h2>
                    </div>
                    <div class="object-table__row">
                        <p>Этажей в доме:</p>
                        <h2>{{ apartment.build_floors }}</h2>
                    </div>
                    <div class="object-table__row">
                        <p>Общая площадь, кв.м.:</p>
                        <h2>{{ apartment.total_area }}</h2>
                    </div>        
                </div>
                <div class="object-button">
                    <button class="btn popup-btn-trigger">ЗАКАЗАТЬ ЗВОНОК</button>
                </div>
            </div>   
        </div>
        <div class="object-text">
            {{ apartment.full_description|raw }}
        </div>
    </div>
</div> -->