<div class="catalog">
    <div class="catalog__container container">
        <h2 class="catalog-title">Каталог недвижимости</h2>
        <div class="catalog-box">
            
            {% for apartment in apartments %}
                <a href="objects.html" class="catalog-card">
                    <img src="{{ apartment.preview.thumb(360, 360, {'mode': 'crop'}) }}" alt="">
                    <div class="card-box">
                        <p class="card-title">{{ apartment.title }}</p>
                        <table class="card-table">
                            <tr>
                                <td class="table-row">Жилая площадь, кв.м.:</td>
                                <th class="table-row">{{ apartment.living_area }}</th>
                            </tr>
                            <tr>
                                <td class="table-row">Количество комнат:</td>
                                <th class="table-row">{{ apartment.num_rooms }}</th>
                            </tr>
                            <tr>
                                <td class="table-row">Общая площадь, кв.м.:</td>
                                <th class="table-row">{{ apartment.total_area }}</th>
                            </tr>
                            <tr>
                                <td class="table-row">Тип дома:</td>
                                <th class="table-row">{{ apartment.typebuild.title }}</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этаж:</td>
                                <th class="table-row">{{ apartment.floor }}</th>
                            </tr>
                            <tr>
                                <td class="table-row">Этажей в доме:</td>
                                <th class="table-row">{{ apartment.build_floors }}</th>
                            </tr>
                        </table>
                        <div class="card-price">
                            <p class="price-column">Цена:</p>
                            <p class="price-realty">{{ apartment.current_price }} <i class="fas fa-ruble-sign"></i></p>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
        {% partial 'pagination' items=apartments %}
    </div>
</div>