{% if items.lastPage > 1 %}
    <div class="center">
        <div class="pagination">
            {% if items.currentPage > 1 %}
                <a href="/{{ this.page.id }}/{{ items.currentPage - 1 }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            {% endif %}
            {% for i in 1..items.lastPage %}
                <a  href="/{{ this.page.id }}/{{ i }}" class="{% if i == items.currentPage %}active{% endif %}">
                    {{ i }}
                </a>

            {% endfor %}
            {% if items.currentPage < items.lastPage %}
                <a href="/{{ this.page.id }}/{{ items.currentPage + 1 }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}