{% if items.lastPage > 1 %}
    <div class="pagination">
        <ul class="pagination__list">
            {% if items.currentPage > 1 %}
                <li class="pagination__item">
                    <a href="/{{ this.page.id }}/{{ items.currentPage - 1 }}" class="pagination__link icon-arrow-left"></a>
                </li>
            {% endif %}
            {% for i in 1..items.lastPage %}
                <li class="pagination__item">
                    <a  href="/{{ this.page.id }}/{{ i }}" class="pagination__link {% if i == items.currentPage %}_active{% endif %}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
            {% if items.currentPage < items.lastPage %}
                <li class="pagination__item">
                    <a href="/{{ this.page.id }}/{{ items.currentPage + 1 }}" class="pagination__link icon-arrow-right"></a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}