{% if items.lastPage > 1 %}
    <div class="pagination">
        <ul class="pagination__list">
            {% if items.currentPage > 1 %}
                <li class="pagination__item">
                    <a class="pagination__link fas fa-angle-left" href="/{{ this.page.id }}/{{ items.currentPage - 1 }}"></a>
                </li>
            {% endif %}
            {% for i in 1..items.lastPage %}
                <li class="pagination__item">
                    <a class="pagination__link {% if i == items.currentPage %}active{% endif %}" href="/{{ this.page.id }}/{{ i }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
            {% if items.currentPage < items.lastPage %}
                <li class="pagination__item">
                    <a class="pagination__link fas fa-angle-right" href="/{{ this.page.id }}/{{ items.currentPage + 1 }}"></a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}