{% if post.is_active %}
    <div class="read-news">
        <div class="read-news__container container">
            <h2 class="read-news__title">{{ post.title }}</h2>
            <div class="read-news__box">
                <div class="read-news__img">
                    <img src="{{ post.preview.thumb(360, 360, { 'mode': 'crop' }) }}" alt=""> 
                </div>
                <div class="read-news__info">
                    <p class="read-news__info__text">
                        {{ post.text|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    записи не найдено
{% endif %}