<section class="cardlist">
    <div class="container">
        <h2 class="cardlist__title">Новости</h2>
        <div class="cardlist__box">
            {% for post in posts %}
                <div class="card">
                    <a href="/object/{{ post.slug }}" class="card__header">
                        <img src="{{ post.preview.thumb(360, 280, {'mode': 'crop'}) }}" alt="" class="card__img">
                    </a>
                    <div class="card__body">
                        <h3 class="card__title">
                            <a href="/object/{{ post.slug }}">{{ str_limit(html_strip(post.title), 40) }}</a>
                        </h3>
                        <p class="card__text">{{ str_limit(html_strip(post.text), 120) }}</p>
                    </div>
                    <div class="card__footer">
                        <div class="card__date">{{ post.created_at|date('d.m.Y') }}</div>
                        <a href="/object/{{ post.slug }}" class="card__link">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

















<!-- <div class="news" id="news">
    <div class="news__container container">
        <h2 class="news-title">Новости</h2>
        <div class="news-box">
            
            {% for post in posts %}
                <div class="news-item">
                    <img src="{{ post.preview.thumb(360, 360, {'mode': 'crop'}) }}" class="news-img" alt="">
                    <div class="news-info">
                        <h3 class="item-title">{{ post.title }}</h3>
                        <p class="news-text">{{ str_limit(html_strip(post.text), 200) }}</p>
                        <a href="/post/{{ post.slug }}" class="news-link">Подробнее</a>
                    </div>
                    <p class="news-data">Опубликовано: {{ post.created_at|date('d.m.Y') }}</p>
                </div>
            {% endfor %}

        </div>
    </div>
</div> -->