 <!-- start section partners -->
 <div class="partners" id="partners">
    <div class="partners__container container">
        <h2 class="partners-title">Наши партнеры</h2>
        <div class="partners-box">
            <div class="partners-item">
                <img src="{{ 'assets/images/sber.png'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/vtb.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/absolut.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/dom.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/open.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/rosbank.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/rossel.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/invest.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/smp.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/gazprom.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/som.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/psb.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/yral.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/dostyp.jpg'|theme }}" alt="" class="parthers-img">
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/dms.jpg'|theme }}" alt="" class="parthers-img"> 
            </div>
            <div class="partners-item">
                <img src="{{ 'assets/images/nmarket.png'|theme }}" alt="" class="parthers-img">
            </div>
        </div>
    </div>
</div>
<!-- stop section partners -->