<nav class="navigation">
    <div class="navigation__container container">
        <button class="navigation__open icon-subject"></button>

        <div class="navigation__cover"></div>

        <div class="navigation__panel">
            <ul class="navigation__panel-list">
                <li class="navigation__panel-item">
                    <a href="/" class="navigation__panel-link {% if this.page.id=='home' %}_active{% endif %}">Главная</a>
                </li>
                <li class="navigation__panel-item">
                    <a href="/catalog" class="navigation__panel-link {% if this.page.id=='catalog' %}_active{% endif %}">Каталог</a>
                </li>
                <li class="navigation__panel-item">
                    <a href="/news" class="navigation__panel-link {% if this.page.id=='news' %}_active{% endif %}">Новости</a>
                </li>
                <li class="navigation__panel-item">
                    <a href="/services" class="navigation__panel-link {% if this.page.id=='services' %}_active{% endif %}">Услуги</a>
                </li>
                <li class="navigation__panel-item">
                    <a href="#" class="navigation__panel-link">О нас</a>
                </li>
                <li class="navigation__panel-item">
                    <a href="#" class="navigation__panel-link">Контакты</a>
                </li>
            </ul>
            <button class="navigation__panel-close icon-close"></button>
        </div>

        <button class="navigation__call icon-phone"></button>
    </div>
</nav>