<div class="popup">
    <div class="popup__content contact-form">
        <h3 class="contact-form__title">Обратная связь</h3>
        <form class="contact-form__form">
            <div class="contact-form__group">
                <input class="contact-form__control" type="text" name="name" placeholder="Ваше имя">
            </div>
            <div class="contact-form__group">
                <input class="contact-form__control" type="text" name="phone" placeholder="Номер телефона">
            </div>
            <div class="contact-form__group">
                <textarea class="contact-form__control" name="comment" placeholder="Ваше сообщение" rows="1"></textarea>
            </div>
            <div class="contact-form__group">
                <input type="checkbox" id="contactFormCheckbox" name="agree" class="contact-form__checkbox">
                <label for="contactFormCheckbox" class="contact-form__label">Я согласен с условиями политики конфидециальности</label>
            </div>
            <button class="contact-form__submit" type="submit">Отправить</button>
        </form>
        <button class="contact-form__close icon-close"></button>
    </div>
</div>