<div class="services">
    <div class="container">
        <div class="services__header">
            <h2 class="services__title">Наши услуги</h2>
        </div>
        <div class="services__body">
            <div class="services__card">
                <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Экспресс подбор квартиры</h3>
                <p class="services__card-text">В нашем распоряжении самая большая и актуальная база объектов недвижимости.</p>
            </div>
            <div class="services__card">
                <img src="{{ 'assets/images/svg/house-exchange.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Сервис обмена квартир</h3>
                <p class="services__card-text">У Вас есть уникальная возможность обменять свою квартиру на НОВУЮ.</p>
            </div>
            <div class="services__card">
                <img src="{{ 'assets/images/svg/mortgage.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Оформление ипотеки</h3>
                <p class="services__card-text">Для Вашего удобства мы оказываем услуги по стандарту ОДНОГО ОКНА.</p>
            </div>
            <div class="services__card">
                <img src="{{ 'assets/images/svg/property.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Оценка недвижимости</h3>
                <p class="services__card-text">Экспертная оценка Вашей квартиры и определение ее актуальной рыночной стоимости для Вас проводятся бесплатно и в максимально короткие сроки!</p>
            </div>
            <div class="services__card">
                <img src="{{ 'assets/images/svg/legal.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Юридическое сопровождение</h3>
                <p class="services__card-text">Наши эксперты по недвижимости проведут для Вас полное юридическое сопровождение сделки от "А до Я".</p>
            </div>
            <div class="services__card">
                <img src="{{ 'assets/images/svg/paper.svg'|theme }}" alt="" class="services__card-image">
                <h3 class="services__card-title">Комплекс оформительных процедур</h3>
                <p class="services__card-text">Для Вашего удобства мы оказываем услуги по стандарту ОДНОГО ОКНА.</p>
            </div>
        </div>
    </div>
</div>