<div class="services {{ classList }}">
    <div class="services__container container">
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости!</p>
        </div>
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости!</p>
        </div>
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости. Благодаря этому наши эксперты!</p>
        </div>
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости. Благодаря</p>
        </div>
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости. Благодаря этому наши эксперты в кратчайшие</p>
        </div>
        <div class="services__card">
            <img src="{{ 'assets/images/svg/condominium.svg'|theme }}" alt="" class="services__image">
            <h3 class="services__title">Экспресс подбор квартиры</h3>
            <p class="services__text">В нашем распоряжении самая большая и актуальная база объектов недвижимости.</p>
        </div>
    </div>
</div>