<section class="starter">
    <div class="swiper-starter swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ 'assets/images/starter-slide-1.jpg'|theme }}" alt="" class="starter__img">
                <div class="starter__content">
                    <div class="starter__container container">
                        <div class="starter__suptitle">Скидки!</div>
                        <h2 class="starter__title">Квартиры в Пензе</h2>
                        <a href="#" class="starter__link icon-arrow-right">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="{{ 'assets/images/starter-slide-2.jpg'|theme }}" alt="" class="starter__img">
                <div class="starter__content">
                    <div class="starter__container container">
                        <div class="starter__suptitle">Скидки!</div>
                        <h2 class="starter__title">Квартиры в Пензе</h2>
                        <a href="#" class="starter__link icon-arrow-right">Узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>