title = "Apartment"
url = "/catalog/:slug"
layout = "default"
==
<?php
    use TenTax\Houses\Models\Apartment;

    function onStart() {
        $slug = $this->param('slug');
        $this['apartment'] = Apartment::getApartmentBySlug($slug);
    }

?>
==

{% if apartment.is_active %}
    <div class="apartment">
        <div class="apartment-left">
            <div class="apartment-preview">
                <img src="{{ apartment.preview.thumb(360, 360, { 'mode': 'crop' }) }}" alt="">
            </div>
            <div class="apartment-gallery">
                {% for image in apartment.gallery %}
                    <img src="{{ image.thumb(100, 100) }}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="apartment-right">
            <h1>{{ apartment.title }}</h1>
            <ul class="apartment-list">
                <li>Цена: {{ apartment.current_price }} руб. </li>
                <li>Количество комнат: {{ apartment.num_rooms }}</li>
                <li>Этаж: {{ apartment.floor }}</li>
                <li>Тип дома: {{ apartment.typebuild.title }}</li>
                <li>Количество этажей в доме: {{ apartment.build_floors }}</li>
                <li>Жилая площадь: {{ apartment.living_area }} кв.м</li>
                <li>Общая площадь: {{ apartment.total_area }} кв.м</li>
            </ul>
            <h3>Описание</h3>
            <p>{{ apartment.full_description|raw }}</p>
        </div>
    </div>
{% else %}
    записи не найдено
{% endif %}

{% partial 'form' %}
