title = "Home"
url = "/"
layout = "default"
[contactForm]
==
<?php
    use TenTax\News\Models\Post;
    use TenTax\Houses\Models\Apartment;

    function onStart() {
        $this['posts'] = Post::getPostsByParams(['perPage' => 6]);
        $this['apartments'] = Apartment::getApartmentsByParams(['perPage' => 6]);
        $this->addJs('assets/js/index.bundle.js');
    }
?>
==

{% partial 'starter' %}

{% partial 'about' %}

{% if apartments|length > 2 %}
    {% partial 'cardlist-swiper' 
        itemsPartial='objects' 
        title='Квартиры'
        allLink='/catalog'
        selector='_objects' %}
{% endif %}

{% partial 'services' %}

{% if posts|length > 2 %}
    {% partial 'cardlist-swiper' 
        itemsPartial='posts' 
        title='Новости'
        allLink='/news'
        selector='_posts' %}
{% endif %}

{% partial 'contact' %}
